In [82]:
#we are uploading the source file into google colab to be able to access it
data_file = 'makeSenseOfCensus.csv'
import numpy as np
data = np.genfromtxt(data_file, delimiter=",", skip_header=1,dtype=int)
print("data:\n",data)

data:
 [[39 13  4 ...  0 40  0]
 [50 13  4 ...  0 13  0]
 [38  9  4 ...  0 40  0]
 ...
 [48 13  4 ...  0 58  1]
 [40 10  4 ...  0 40  0]
 [39 13  4 ...  0 50  1]]

In [83]:
#adding a new row to the initial data using (np.concatenate())
new_record = [[50,9,4,1,0,0,40,0]]
np.concatenate([data,new_record])

array([[39, 13,  4, ...,  0, 40,  0],
       [50, 13,  4, ...,  0, 13,  0],
       [38,  9,  4, ...,  0, 40,  0],
       ...,
       [40, 10,  4, ...,  0, 40,  0],
       [39, 13,  4, ...,  0, 50,  1],
       [50,  9,  4, ...,  0, 40,  0]])

In [84]:
#pulling out of the data a specific column(age) with index 0
age = np.array(data[:,0])
print(age)

[39 50 38 53 28 37 49 52 31 42 37 30 23 32 40 34 25 32 38 43 40 54 35 43
 59 56 19 54 39 49 23 20 45 30 22 48 21 19 31 48 31 53 24 49 25 57 53 44
 41 29 25 18 47 50 47 43 46 35 41 30 30 32 48 42 29 36 28 53 49 25 19 31
 29 23 79 27 40 67 18 31 18 52 46 59 44 53 49 33 30 43 57 37 28 30 34 29
 48 37 48 32 76 44 47 20 29 32 17 30 31 42 24 38 56 28 36 53 56 49 55 22
 21 40 30 29 19 47 20 31 35 39 28 24 38 37 46 38 43 27 20 49 61 27 19 45
 70 31 22 36 64 43 47 34 33 21 52 48 23 71 29 42 68 25 44 28 45 36 39 46
 18 66 27 28 51 27 28 27 21 34 18 33 44 43 30 40 37 34 41 53 31 58 38 24
 41 47 41 23 36 40 35 24 26 19 51 42 37 18 36 35 58 17 44 37 35 60 54 37
 50 38 45 25 31 64 90 54 53 18 60 66 75 65 35 41 25 33 28 59 40 41 38 23
 40 41 24 20 38 56 58 32 40 45 41 42 59 19 58 42 20 32 45 50 36 45 17 59
 26 37 19 64 33 33 61 17 50 27 30 43 44 35 25 24 22 42 34 60 21 57 41 50
 25 50 36 31 29 21 27 65 37 39 24 38 48 21 31 55 24 43 26 46 35 41 26 34
 19 36 22 24 77 22 29 62 39 43 35 29 76 63 23 43 58 66 41 26 47 55 53 17
 30 49 19 45 26 38 36 33 22 43 67 30 56 31 33 26 33 46 59 38 65 40 42 26
 36 62 43 43 22 28 56 22 57 39 26 17 40 45 44 20 33 23 46 38 54 46 25 46
 36 23 29 44 19 19 35 27 46 34 34 44 45 20 25 52 20 28 50 34 28 41 28 46
 28 32 41 24 33 46 31 35 52 30 34 34 20 17 32 29 33 25 36 23 63 47 80 17
 40 30 27 33 34 34 23 42 29 45 24 44 27 20 44 51 20 17 19 45 60 42 44 40
 30 38 23 32 44 54 32 50 24 37 52 38 49 30 60 22 35 30 67 46 17 22 27 23
 33 43 28 41 52 25 63 59 45 38 40 46 35 34 33 41 20 23 26 72 23 62 52 58
 25 24 19 43 47 39 49 53 32 34 28 57 25 20 21 34 38 50 24 37 44 28 42 74
 38 44 44 26 36 41 67 39 57 29 31 34 44 29 30 27 27 32 58 35 21 28 46 36
 72 35 33 69 35 31 34 30 28 54 47 24 52 20 43 45 29 47 24 51 17 37 27 29
 18 36 58 26 65 57 59 27 31 21 29 18 52 57 42 55 60 31 23 27 23 42 25 49
 32 19 60 42 35 48 51 29 36 17 52 24 24 26 27 39 30 50 52 46 23 45 65 29
 47 30 34 38 33 49 47 49 43 30 58 19 21 33 47 52 26 60 21 36 31 50 31 71
 58 30 20 24 35 38 27 29 70 34 44 43 44 35 27 43 20 42 27 42 20 24 48 17
 17 33 50 22 17 32 31 58 29 37 34 23 18 34 66 45 41 26 54 24 42 20 23 25
 35 31 30 19 36 31 21 31 46 44 40 45 60 18 28 36 36 40 36 31 33 19 22 34
 33 41 29 50 42 43 44 20 31 65 23 55 26 25 45 35 36 43 56 42 19 55 42 26
 17 42 55 32 29 46 29 22 58 23 39 27 54 33 46 37 36 59 34 53 51 32 31 22
 47 32 26 37 31 37 55 23 36 34 43 54 43 28 40 41 40 42 61 18 59 21 48 41
 18 23 60 22 61 25 46 43 43 24 68 31 17 32 50 33 64 20 30 22 43 22 17 47
 41 56 64 47 48 31 29 30 32 57 62 39 43 24 42 53 26 73 72 55 25 41 24 63
 17 35 51 62 55 43 40 37 39 31 61 26 46 26 48 34 34 59 34 49 18 43 48 28
 33 24 21 17 39 29 44 24 71 51 55 41 23 38 39 19 49 32 27 38 33 63 23 33
 54 29 48 35 28 37 42 40 47 22 30 28 63 51 22 27 35 46 37 24 37 53 27 38
 53 34 23 39 43 67 81 21 23 25 42 38 64 32 37 51 22 33 42 19 51 23 37 37
 47 41 33 31 31 35 38 18 20 54 40 36 43 44 44 43 51 18 51 41 44 33 33 42
 25 32 32 36 28 20 35 55 48 36 34 28 67 37 44 25 21 40 78 34 49 22 23 60
 45 63 41 47 44 51 46 41 50 47 35 56 45 48 40 39]

In [85]:
#using the max() function to find the maximum age
max_age = age.max()
print(max_age)

90

In [86]:
#using the min() function to find the minimum age
min_age = age.min()
print(min_age)

17

In [87]:
#using the mean() function to calculate the mean value of the age column
age_mean = age.mean()
print(age_mean)

38.051

In [88]:
#use the std() function to identify the standard deviation of the column age
age_std  = np.std(age)
print(age_std)

13.342803266180612

In [89]:
#pulling from the main data another column(race) with index of 2
race = np.array(data[:,2])
print(race)

[4 4 4 2 2 4 2 4 4 4 2 1 4 2 1 0 4 4 4 4 4 2 2 4 4 4 4 1 4 4 4 2 4 4 2 4 4
 4 4 4 4 4 4 4 4 2 4 4 4 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 2 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 2 1 4 4 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 2 4 4 4 4 2 4 2 4 4 4 4 4 4 4 4 4 2 4 4 4 4 1 4 4 4 4 4 2 4 4
 4 4 4 4 1 4 4 4 4 2 4 2 4 4 1 1 4 4 4 4 4 4 4 4 4 4 4 4 2 2 4 4 2 4 2 4 4
 2 4 4 4 4 2 4 2 4 4 4 4 4 4 4 4 4 4 4 4 4 2 4 4 4 2 4 0 1 4 2 4 4 4 4 4 4
 2 2 4 4 0 4 4 4 2 2 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 2 2 4 4 1 4 4 4
 4 4 4 4 4 4 1 4 4 4 4 4 4 4 4 4 2 4 4 4 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4 2 4
 4 1 4 4 4 1 4 4 1 4 4 4 4 4 4 1 2 2 4 4 4 4 4 4 4 4 4 4 4 4 2 4 4 4 2 4 4
 4 4 4 4 4 2 2 4 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 2 2 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3 4 4
 4 4 4 2 2 4 4 4 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 1 4 2 4 4 4 4 4 4 4
 4 4 2 0 4 4 2 4 4 2 4 1 4 2 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 2 2 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 2 4 4 2 4 4 2 4 4 4 4 0 4
 4 4 4 4 2 4 4 4 4 4 4 4 3 4 2 4 4 4 2 4 4 2 4 4 4 4 4 4 4 4 4 4 4 4 4 2 2
 4 4 4 4 4 4 4 4 2 4 0 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 1
 4 4 4 4 0 4 4 4 4 4 4 4 4 2 4 0 2 4 4 4 4 4 4 4 2 4 4 4 4 2 2 4 4 2 4 4 4
 4 2 2 4 2 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 1 4 4 1 4 4 4 4 2 4 4 4 4 4
 4 2 1 4 4 4 4 4 4 4 4 4 4 4 4 4 4 2 4 4 4 4 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 2 2 4 4 4 2 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 1 4 4 2 4 2 4 2 4
 4 4 4 4 4 4 4 2 2 4 4 4 4 4 4 4 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 3 2 4 4 4 4 4 4 4 4 4 2 4 2 4 4 4 2 4 4 4 4 4 4 4 4 4 2 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 1 2 4 2 4 4 4 4 4 4 4 4 4 4 4
 2 4 2 4 1 4 4 4 4 4 4 4 4 4 4 0 4 4 4 2 4 4 4 4 4 4 2 4 1 1 4 4 4 4 4 2 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 0 2 4 4 4 2 4 4 4 4 4 4 2 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 1 4 4 4 4 4 4 4 4 4 2 4 4 4 2 4 4 4 2 4 4 4 4 4 4 4 4 4 4 4 4
 4]

In [90]:
# breaking the race column into subsets race_0,race_1,...,race_4
race_0=[]
race_1=[]
race_2=[]
race_3=[]
race_4=[]

for i in race:
  if i==0:
    race_0.append(i)
  if i==1:
    race_1.append(i)
  if i==2:
    race_2.append(i)
  if i==3:
    race_3.append(i)
  if i==4:
    race_4.append(i)

In [91]:
#finding the length of each each race subset above
l=[len(race_0),len(race_1),len(race_2),len(race_3),len(race_4),]
print(l)

[10, 27, 110, 6, 847]

In [92]:
#identifying the race with the minimum number of citizens
l=[len(race_0),len(race_1),len(race_2),len(race_3),len(race_4),]
minority_race =(min(l))
print(minority_race)

6

In [93]:
#Here we are defining senior citizen by pulling the age column and returning entries > 60years  
senior_citizen = np.array(data[:,0])
s_c = senior_citizen>60
senior = data[:][s_c]
print(senior)

[[   79    10     4     1     0     0    20     0]
 [   67     6     4     1     0     0     2     0]
 [   76    14     4     1     0     0    40     1]
 [   61     9     4     1     0     0    40     0]
 [   70    10     4     1     0     0    40     0]
 [   64     7     4     1     0  2179    40     0]
 [   71    10     2     1     0  1816     2     0]
 [   68     2     4     0     0     0    20     0]
 [   66    11     4     0     0     0    20     0]
 [   64     2     4     1     0     0    40     0]
 [   90     9     2     1     0  2206    40     0]
 [   66     9     4     1  1409     0    50     0]
 [   75    11     4     0     0     0    20     0]
 [   65     9     4     0     0     0    40     0]
 [   64     9     4     1     0     0    40     1]
 [   61     9     4     1     0     0    40     1]
 [   65     9     4     1     0     0    16     0]
 [   77    10     4     1     0     0    40     0]
 [   62     9     4     0     0     0    24     0]
 [   76    14     4     1     0     0    10     0]
 [   63     9     4     1     0     0    45     0]
 [   66     9     4     1  2050     0    55     0]
 [   67     7     4     1     0     0     8     0]
 [   65     7     3     1     0     0    40     0]
 [   62    14     4     1     0     0    40     1]
 [   63     9     4     1     0     0    40     1]
 [   80     9     4     1     0     0    24     0]
 [   67    11     4     0     0     0    24     0]
 [   63     2     4     1     0     0    35     0]
 [   72     9     4     1     0     0    20     0]
 [   62     9     4     1     0     0    40     0]
 [   74    10     4     0     0     0     9     0]
 [   67    15     4     1 20051     0    48     1]
 [   72     7     4     0     0     0    40     0]
 [   69     7     4     0     0     0    40     0]
 [   65    10     4     1     0     0    30     1]
 [   65     5     2     0     0     0    24     0]
 [   71     9     4     1     0     0    15     0]
 [   70     5     4     0  1111     0    15     0]
 [   66     4     4     1     0     0     4     0]
 [   65     7     4     1  9386     0    59     1]
 [   61     9     4     1     0  2352    50     0]
 [   61     9     4     1     0     0    40     0]
 [   68     7     4     1     0     0    20     0]
 [   64    13     4     1     0     0    40     1]
 [   64     9     4     1     0     0    45     0]
 [   62     9     4     0     0     0    40     0]
 [   73     9     4     1     0     0    40     0]
 [   72     7     4     0     0     0    24     0]
 [   63     9     4     1     0     0     6     0]
 [   62    13     4     0     0     0    48     0]
 [   61    14     4     0     0     0    40     1]
 [   71    14     4     1 10605     0    40     1]
 [   63    10     4     1     0     0    15     0]
 [   63     4     4     1     0     0    55     0]
 [   67     9     1     1     0     0    40     1]
 [   81     9     4     1     0     0    30     0]
 [   64     9     4     1     0     0     5     0]
 [   67    13     4     1     0  2392    40     1]
 [   78     9     2     0  2964     0    40     0]
 [   63    11     4     0     0     0    20     0]]

In [94]:
#pull the column working hours to find total working hours for seniors
working_hours = np.array(senior[:,6])
working_hours_sum = working_hours.sum()
print(working_hours_sum)

1917

In [95]:
#finding the length of senior citizen
print(len(senior))

61

In [96]:
#find the average working hours for senior citizens
avg_working_hours = working_hours_sum/len(senior)
print(avg_working_hours)

31.42622950819672

government policy is not followed

In [97]:
#from the main dataset pull column for education_number and filter it to identify highly education and lowly educated citizens 
education_num = np.array(data[:,1])

high_education = education_num>10
low_education = education_num<=10
high= np.array(data[high_education])
low= np.array(data[low_education])
print (high)
print(low)

[[39 13  4 ...  0 40  0]
 [50 13  4 ...  0 13  0]
 [28 13  2 ...  0 40  0]
 ...
 [45 14  4 ...  0 45  0]
 [48 13  4 ...  0 58  1]
 [39 13  4 ...  0 50  1]]
[[38  9  4 ...  0 40  0]
 [53  7  2 ...  0 40  0]
 [49  5  2 ...  0 16  0]
 ...
 [35  9  4 ...  0 45  0]
 [56  9  4 ...  0 55  1]
 [40 10  4 ...  0 40  0]]

In [98]:
#finding the average payform both highly educated and low educated citizens respectively
avg_pay_high = high.mean()
avg_pay_low = low.mean()
print(avg_pay_high)
print(avg_pay_low)

167.18119266055047
62.53844725111441